/**
* ----------------------------------------
* animation 
* ----------------------------------------
*/
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.page-wrapper {
  height: 100vh;
}
.page-wrapper .nav-wrapper .page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.page-wrapper .nav-wrapper .page-header .header-wrapper-mobile {
  display: none;
}
.page-wrapper .nav-wrapper .page-header .header-nav-wrapper {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}
.page-wrapper .nav-wrapper .page-header .link {
  text-decoration: none;
  color: #000;
}
.page-wrapper .nav-wrapper .page-header .header-topmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.page-wrapper .nav-wrapper .page-header .header-topmenu .cart i {
  color: #000;
}
.page-wrapper .nav-wrapper .page-header .search {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
}
.page-wrapper .nav-wrapper .page-header .search input {
  min-height: 40px;
  border: none;
  border-bottom: 1px solid #D2D2D2;
  width: 100%;
  background-color: transparent;
}
.page-wrapper .nav-wrapper .page-header .search input::placeholder {
  padding: 20px;
}
.page-wrapper .nav-wrapper .page-header .search i {
  position: absolute;
  right: 5px;
  color: #ffe0e5;
}
.page-wrapper .nav-wrapper .page-header .btn-mobile-nav-open,
.page-wrapper .nav-wrapper .page-header .btn-mobile-nav-close,
.page-wrapper .nav-wrapper .page-header .link {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.page-wrapper .nav-wrapper .page-header .btn-mobile-nav-open i,
.page-wrapper .nav-wrapper .page-header .btn-mobile-nav-close i,
.page-wrapper .nav-wrapper .page-header .cart i {
  margin: 20px 10px;
}
@media only screen and (max-width: 1023px) {
  .page-wrapper.gray {
    background-color: gray;
  }
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop {
    display: none;
  }
  .page-wrapper .nav-wrapper .page-header.mobile {
    flex-direction: row;
    border-bottom: 1px solid #D2D2D2;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .logo {
    width: 100px;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .logo img {
    width: 100px;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .cart {
    margin-left: auto;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .cart span {
    display: none;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .mobile-nav {
    position: absolute;
    right: 100%;
    z-index: 10;
    width: 100%;
    background-color: #fff;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .mobile-nav.hidden {
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    animation-name: slide-right;
    animation-duration: 0.5s;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .mobile-nav.visible {
    display: block;
    position: absolute;
    padding: 10px 20px;
    top: 0;
    left: 0;
    animation-name: slide-left;
    animation-duration: 0.5s;
    z-index: 10;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .mobile-nav .mobile-nav-top {
    margin-bottom: 30px;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .mobile-nav .mobile-nav-top .btn-mobile-nav-close {
    position: absolute;
    right: 10px;
    top: 20px;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .mobile-nav .items-wrapper .item {
    list-style: none;
    font-weight: 600;
    margin: 20px 0;
    text-transform: uppercase;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .mobile-nav .items-wrapper .item a:hover {
    text-decoration: underline;
  }
  .page-wrapper .nav-wrapper .page-header.mobile .header-wrapper-mobile .mobile-nav-wrapper .mobile-nav .items-wrapper .item.sale a {
    color: #ffc0cb;
  }
}
@media only screen and (min-width: 1024px) {
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop .header-nav-wrapper {
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 30px;
  }
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop .header-nav-wrapper .header-topmenu .item {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
  }
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop .header-nav-wrapper .header-topmenu .item.sale .link {
    color: #ffc0cb;
  }
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop .header-nav-wrapper .header-topmenu .item:hover .link {
    text-decoration: underline;
  }
}
.panel-wrapper {
  border-bottom: 1px solid #D2D2D2;
  min-height: 60px;
  margin-bottom: 10px;
}
.panel-wrapper .panel-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}
.panel-wrapper .panel-content-wrapper .contact-wrapper,
.panel-wrapper .panel-content-wrapper .account-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
}
.panel-wrapper .panel-content-wrapper .contact-wrapper .phone,
.panel-wrapper .panel-content-wrapper .account-content .phone,
.panel-wrapper .panel-content-wrapper .contact-wrapper .email,
.panel-wrapper .panel-content-wrapper .account-content .email,
.panel-wrapper .panel-content-wrapper .contact-wrapper .login,
.panel-wrapper .panel-content-wrapper .account-content .login,
.panel-wrapper .panel-content-wrapper .contact-wrapper .register,
.panel-wrapper .panel-content-wrapper .account-content .register {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 60px;
  font-size: 12px;
}
.panel-wrapper .panel-content-wrapper .contact-wrapper .phone i,
.panel-wrapper .panel-content-wrapper .account-content .phone i,
.panel-wrapper .panel-content-wrapper .contact-wrapper .email i,
.panel-wrapper .panel-content-wrapper .account-content .email i,
.panel-wrapper .panel-content-wrapper .contact-wrapper .login i,
.panel-wrapper .panel-content-wrapper .account-content .login i,
.panel-wrapper .panel-content-wrapper .contact-wrapper .register i,
.panel-wrapper .panel-content-wrapper .account-content .register i {
  color: #ffc0cb;
}
.panel-wrapper .panel-content-wrapper .contact-wrapper .login,
.panel-wrapper .panel-content-wrapper .account-content .login {
  border: 1px solid #D2D2D2;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  padding: 0 20px;
}
.panel-wrapper .panel-content-wrapper .contact-wrapper .login,
.panel-wrapper .panel-content-wrapper .account-content .login,
.panel-wrapper .panel-content-wrapper .contact-wrapper .register,
.panel-wrapper .panel-content-wrapper .account-content .register {
  border-radius: 0;
  padding: 0 20px;
  transition: 0.5s;
}
.panel-wrapper .panel-content-wrapper .contact-wrapper .login:hover,
.panel-wrapper .panel-content-wrapper .account-content .login:hover,
.panel-wrapper .panel-content-wrapper .contact-wrapper .register:hover,
.panel-wrapper .panel-content-wrapper .account-content .register:hover {
  background-color: #ffe0e5;
}
.panel-wrapper .panel-content-wrapper .contact-wrapper .login:hover i,
.panel-wrapper .panel-content-wrapper .account-content .login:hover i,
.panel-wrapper .panel-content-wrapper .contact-wrapper .register:hover i,
.panel-wrapper .panel-content-wrapper .account-content .register:hover i {
  scale: 1.75;
  transition: 0.5s;
}
.panel-wrapper .panel-content-wrapper .contact-wrapper .phone:hover a,
.panel-wrapper .panel-content-wrapper .account-content .phone:hover a,
.panel-wrapper .panel-content-wrapper .contact-wrapper .email:hover a,
.panel-wrapper .panel-content-wrapper .account-content .email:hover a {
  text-decoration: underline;
}
.panel-wrapper .panel-content-wrapper .contact-wrapper .phone:hover i,
.panel-wrapper .panel-content-wrapper .account-content .phone:hover i,
.panel-wrapper .panel-content-wrapper .contact-wrapper .email:hover i,
.panel-wrapper .panel-content-wrapper .account-content .email:hover i {
  scale: 1.25;
}
.panel-wrapper .panel-content-wrapper .account-content {
  gap: 0;
}
.panel-content-wrapper-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}
.panel-content-wrapper-mobile .contact-wrapper,
.panel-content-wrapper-mobile .account-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.panel-content-wrapper-mobile .contact-wrapper .phone,
.panel-content-wrapper-mobile .account-content .phone,
.panel-content-wrapper-mobile .contact-wrapper .email,
.panel-content-wrapper-mobile .account-content .email,
.panel-content-wrapper-mobile .contact-wrapper .link,
.panel-content-wrapper-mobile .account-content .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.panel-content-wrapper-mobile .contact-wrapper .phone:hover a,
.panel-content-wrapper-mobile .account-content .phone:hover a,
.panel-content-wrapper-mobile .contact-wrapper .email:hover a,
.panel-content-wrapper-mobile .account-content .email:hover a,
.panel-content-wrapper-mobile .contact-wrapper .link:hover a,
.panel-content-wrapper-mobile .account-content .link:hover a,
.panel-content-wrapper-mobile .contact-wrapper .phone:hover span,
.panel-content-wrapper-mobile .account-content .phone:hover span,
.panel-content-wrapper-mobile .contact-wrapper .email:hover span,
.panel-content-wrapper-mobile .account-content .email:hover span,
.panel-content-wrapper-mobile .contact-wrapper .link:hover span,
.panel-content-wrapper-mobile .account-content .link:hover span {
  text-decoration: underline;
}
.panel-content-wrapper-mobile .contact-wrapper i,
.panel-content-wrapper-mobile .account-content i {
  color: #ffc0cb;
}
@media only screen and (min-width: 1024px) {
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop .panel-content-wrapper {
    padding: 0 20px;
  }
}
.search-cart-wrapper {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}
.search-cart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.search-cart-wrapper .cart i {
  color: #000;
}
@media only screen and (min-width: 1024px) {
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop .search-cart-wrapper .inner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop .search-cart-wrapper .inner-wrapper .search {
    width: 70%;
  }
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop .search-cart-wrapper .inner-wrapper .link.cart {
    display: flex;
  }
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop .search-cart-wrapper .inner-wrapper .link.cart i {
    position: relative;
  }
  .page-wrapper .nav-wrapper .page-header .header-wrapper-desktop .search-cart-wrapper .inner-wrapper .link.cart i:after {
    content: '2';
    position: absolute;
    bottom: -25px;
    right: -10px;
    font-size: 10px;
    background-color: #ffc0cb;
    padding: 9px 7px;
    border-radius: 50%;
    color: #fff;
  }
}
